## LATEX ##
# File sorgenti
*.tex
*.sty

# Immagini allegate
*.png

# File generati dalla compilazione
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.lol
*.fls
*.fdb_latexmk

# acmart
*.cls
*.dtx
*.ins

## VSCODE ##
.vscode/

## GOLAND ##
.idea/
